.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-self: flex-start;
    align-content: center;
    /* gap: 1rem; */
    background-color: rgb(67,145,237,10%);
    min-width: 30%;
    border-radius: 10px;
    flex-shrink: 0;
    overflow-y: auto;
}
h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: 600;
}
h4 img {
    height: 1rem;
    cursor: pointer;
}